<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>
    <property name="LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %green([%thread]) %highlight(%-5level) %boldWhite([%C.%M:%yellow(%L)]) - %msg%n"/>
    <property name="LOG_PATTERN_AWS"
              value="메세지: [%msg] 클래스: [%C{0}.%M:#%L] 스레드: [%thread] %n"/>
    <property name="LOG_LOCATION" value="../logs"/>
    <property name="BACKUP_LOCATION" value="../logs/backup"/>
    <property name="DEBUG_LOCATION" value="debug"/>
    <property name="INFO_LOCATION" value="info"/>
    <property name="WARN_LOCATION" value="warn"/>
    <property name="ERROR_LOCATION" value="error"/>
    <property name="AWS_LOCATION" value="aws"/>
    <property name="MAX_FILE_SIZE" value="100MB"/>
    <property name="MAX_HISTORY" value="30"/>

    <springProfile name="local|test">
        <include resource="console-appender.xml"/>

        <logger name="com.backjoongwon.cvi" level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <include resource="console-appender.xml"/>
        <include resource="file-debug-appender.xml"/>
        <include resource="file-info-appender.xml"/>
        <include resource="file-warn-appender.xml"/>
        <include resource="file-error-appender.xml"/>
        <include resource="file-debug-aws-appender.xml"/>
        <include resource="file-info-aws-appender.xml"/>
        <include resource="file-warn-aws-appender.xml"/>
        <include resource="file-error-aws-appender.xml"/>

        <logger name="com.backjoongwon.cvi" level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-DEBUG"/>
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-WARN"/>
            <appender-ref ref="FILE-ERROR"/>
            <appender-ref ref="FILE-DEBUG-AWS"/>
            <appender-ref ref="FILE-INFO-AWS"/>
            <appender-ref ref="FILE-WARN-AWS"/>
            <appender-ref ref="FILE-ERROR-AWS"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="console-appender.xml"/>
        <include resource="file-info-appender.xml"/>
        <include resource="file-warn-appender.xml"/>
        <include resource="file-error-appender.xml"/>
        <include resource="file-info-aws-appender.xml"/>
        <include resource="file-warn-aws-appender.xml"/>
        <include resource="file-error-aws-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-WARN"/>
            <appender-ref ref="FILE-ERROR"/>
            <appender-ref ref="FILE-INFO-AWS"/>
            <appender-ref ref="FILE-WARN-AWS"/>
            <appender-ref ref="FILE-ERROR-AWS"/>
        </root>
    </springProfile>
</configuration>
